In [427]:
import numpy as np
import pandas as pd

In [428]:
sample_submission = pd.read_csv("sample_submission.csv")
df_test = pd.read_csv("test.csv", encoding = 'big5')
df_train = pd.read_csv("train.csv", encoding = 'big5')
df_test.head()

   id_0 AMB_TEMP    21  21.1    20  20.1    19  19.1  19.2    18    17
0  id_0      CH4   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.8
1  id_0       CO  0.39  0.36  0.36   0.4  0.53  0.55  0.34  0.31  0.23
2  id_0     NMHC  0.16  0.24  0.22  0.27  0.27  0.26  0.27  0.29   0.1
3  id_0       NO   1.3   1.3   1.3   1.3   1.4   1.6   1.2   1.1   0.9
4  id_0      NO2    17    14    13    14    18    21   8.9   9.4     5

In [429]:
df_test.describe()

          id_0 AMB_TEMP    21  21.1    20  20.1    19  19.1  19.2    18    17
count     4319     4319  4319  4319  4319  4319  4319  4319  4319  4319  4319
unique     240       18   433   426   430   422   425   424   416   410   416
top     id_196       O3    NR    NR    NR    NR    NR    NR    NR    NR    NR
freq        18      240   225   222   228   222   226   221   224   230   228

In [430]:
df_train.head()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [431]:
df_train.describe()

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
count,4320,4320,4320,4320,4320,4320,4320,4320,4320,4320,...,4320,4320,4320,4320,4320,4320,4320,4320,4320,4320
unique,240,1,18,369,361,351,355,353,342,356,...,423,411,409,423,405,374,366,374,382,370
top,2014/1/12,豐原,O3,NR,NR,NR,NR,NR,NR,NR,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
freq,18,4320,240,221,225,229,226,229,230,226,...,220,219,221,221,222,223,225,224,226,224

In [432]:
df_test_PM = df_test.loc[df_test["AMB_TEMP"] == "PM2.5"]
df_test_PM.head()

    id_0 AMB_TEMP  21 21.1  20 20.1  19 19.1 19.2  18  17
8   id_0    PM2.5  33   39  39   25  18   18   17   9   4
26  id_1    PM2.5  17   22  17    9  17   23   29  17  18
44  id_2    PM2.5  50   70  70   73  61   55   47  38  26
62  id_3    PM2.5  85   65  47   30  20   13    7   4   4
80  id_4    PM2.5  17    8  14    8   8   11   23  32  30

In [433]:
df_test_PM_feature = df_test_PM.iloc[:,2:]
df_test_PM_feature.head()

    21 21.1  20 20.1  19 19.1 19.2  18  17
8   33   39  39   25  18   18   17   9   4
26  17   22  17    9  17   23   29  17  18
44  50   70  70   73  61   55   47  38  26
62  85   65  47   30  20   13    7   4   4
80  17    8  14    8   8   11   23  32  30

In [434]:
df_train_PM = df_train.loc[df_train["測項"] == "PM2.5"]
df_train_PM.head()
df_train_PM_feature = df_train_PM.iloc[:,4:13]
df_train_PM_label = df_train_PM.iloc[:, 14]
df_train_PM_label = df_train_PM_label.reset_index(drop=True)

In [435]:
import tensorflow as tf
from matplotlib import pyplot as plt

In [436]:
df_train_PM_label.head(260)

0      44
1      34
2      22
3      45
4      64
       ..
235    26
236    20
237    12
238    33
239    10
Name: 11, Length: 240, dtype: object

In [437]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(df_train_PM_feature, df_train_PM_label)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [438]:
y_pred = regressor.predict(df_test_PM_feature)

In [439]:
y_test_pred = pd.DataFrame(data=y_pred,columns=['value'])

In [440]:
y_pred2 = regressor.predict(df_train_PM_feature)
y_train_pred = pd.DataFrame(data=y_pred2,columns=['value'])

In [442]:
y_test_pred.head(240)

         value
0    12.836840
1    23.726530
2    30.497545
3    18.898067
4    22.445108
..         ...
235  45.109980
236  71.442999
237  42.128584
238   5.412907
239  21.871474

[240 rows x 1 columns]

In [443]:
result = pd.concat([sample_submission,y_test_pred],axis=1)

In [444]:
result_df = result.iloc[:,[0,2]]

In [445]:
result_df.head(240)

         id      value
0      id_0  12.836840
1      id_1  23.726530
2      id_2  30.497545
3      id_3  18.898067
4      id_4  22.445108
..      ...        ...
235  id_235  45.109980
236  id_236  71.442999
237  id_237  42.128584
238  id_238   5.412907
239  id_239  21.871474

[240 rows x 2 columns]

In [446]:
df_train_PM_label_mod = pd.DataFrame(data = df_train_PM_label)
df_train_PM_label_mod.columns = ['value']
df_train_PM_label_mod = df_train_PM_label_mod.astype(float)

In [451]:
error = pred['value'] - df_train_PM_label_mod['value']

In [452]:
from sklearn.metrics import r2_score
r2_score(df_train_PM_label_mod, y_train_pred)

0.7251160913679316